table {
    width: 100%;
    position: relative;
    padding: 1em;
}
.img-circle {
    width: 70%;
    border-radius: 50%;
}
.column {
    flex: 25%;
    padding: 5px;
    text-align: center;
}
.row {
    display: flex;
}
.icon {
    width: 14px;
    height: 14px;
}